.mt10{
    margin-top: 75px;
    /*position: relative;*/
}
.img{
    /*text-align: center;*/
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: -5;
}
.bg, .bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: -3;
}
.bg1{
    overflow: hidden;
}
img.imgBg{
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:absolute;
    width:100%;
    top:60px;
    left:0;
    z-index: -1;
}
.main{
    position: relative;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
}
@media (max-width: 500px){
    .main{
        display: block;
    }
}
img.poster{
    border-radius: 20px;
    width: 100%;
}
.recommendations{
    margin-bottom: 50px;
    width: 100%;
    //height: 450px;
    //text-wrap: wrap;
    white-space: nowrap;
    &Item{
        display: inline-block;
        width: 250px;
        margin-right: 10px;
        &:last-child{
            margin: 0;
        }
        //background: #000;
    }
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px; /* ширина для вертикального скролла */
        height: 8px; /* высота для горизонтального скролла */
        border-radius: 20px;
        background-color: #143861;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 20px;
        //box-shadow: inset 1px 1px 10px #f3faf7;
    }
}
.addBtn{
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.addRecommended{
    border: 1px solid white;
    border-radius: 5px;
    background: rgba(0,0,0, 0.5);
    color: white;
    padding: 5px 10px;
    //margin: auto 0;
}