*{
  box-sizing: border-box;
}
body {
  background-color: #141216;
  /*background: #423189;*/
  min-height: 100vh;
  color: white;
}
.App{
  /*display: grid;*/
}
.block{
  /*margin-top: 60px;*/
  max-width: 1200px;
  margin: 60px auto 20px auto;
  padding: 0 5px;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
}
.btnWrapper{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.btn{
  padding: 5px 15px;
  color: white;
  background: none;
  border: 2px solid white;
}
.btn.active{
  border-color: red;
  color: red;
}
.btn:hover{
  cursor: pointer;
  /*cursor: -webkit-pointer;*/
}
.btn:active, .btn:focus{
  outline: none;
}
a:hover{
  cursor: pointer;
}